/* Container styles */
.container {
    max-width: 800px;
    margin: 10% auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
h2 {
    text-align: center;
    color: #26367B;
}

/* Label styles */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Input, textarea, and file input styles */
input[type="text"], textarea {
    width: 100%; /* Ensure inputs take full width */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures proper padding inside inputs */
}

/* Special handling for file input */
input[type="file"] {
    width: 100%; /* Full width for file input */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
}

/* Style for email input */
input[type="email"] {
    width: 100%; /* Full width for the input */
    padding: 10px; /* Inner padding for text */
    margin-bottom: 20px; /* Space below the input */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px; /* Rounded corners */
    box-sizing: border-box; /* Proper padding inside input */
}


/* Button styling */
button {
    background-color: #f4b942;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%; /* Ensure button stretches full width */
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

button:hover {
    background-color: #26367B;
    color: #f4b942;
}

/* Style for output section */
#hideMessageOutput {
    margin-bottom: 5%;
}

/* Message box */
.message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Button group styling */
.btn-group {
    display: flex;
    justify-content: space-between;
}

.btn-group button {
    width: 48%;
}

/* Responsive design for mobile */
@media (max-width: 768px) {
    .container {
        margin: 5%;
        padding: 10px;
    }

    label {
        font-size: 0.9rem;
        margin-bottom: 8px;
    }

    input[type="text"], textarea {
        padding: 8px;
        font-size: 0.9rem;
        width: 100%; 
    }

    input[type="file"] {
        padding: 8px;
        font-size: 0.9rem;
        width: 100%;
        margin-left: 0; 
    }

    button {
        padding: 8px 10px;
        font-size: 14px;
    }

    .btn-group button {
        width: 48%;
        font-size: 0.9rem;
    }

    .modal-content {
        width: 90%;
        padding: 15px;
    }

    #hideMessageOutput {
        margin-bottom:10%;
    }}

    